<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/about.css">
    <title>about</title>
</head>
<body>
    
</body>
</html>
<body>
    <header>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="./works.html">Works</a></li>
        </ul>
      </header>
        <section>
            <img src="../public/images/gigachad2.jpg">
            <p>Donec iaculis efficitur facilisis. Duis sodales, nibh at porttitor viverra, eros justo rhoncus nibh, at hendrerit ligula lorem a massa. Suspendisse nunc libero, facilisis ac rhoncus ac, tempus a sem. Quisque congue imperdiet dapibus. Nam eu arcu ligula. Quisque non nibh venenatis, imperdiet mauris eget, aliquet velit. Donec venenatis tortor eget metus pellentesque ullamcorper. Praesent dapibus metus et nisi interdum mattis. Aenean varius dui lacus, sit amet lobortis eros efficitur eu. Ut elit orci, sollicitudin at turpis sed, elementum congue augue. Mauris odio nibh, luctus non tincidunt ac, semper maximus eros. Suspendisse vulputate ornare mi vel blandit. Pellentesque sodales, purus non gravida dictum, elit ante congue sapien, et commodo lectus augue non tellus. Fusce eget felis vitae diam venenatis cursus.</p>
        </section>
</body>