<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/about.css">
    <title>about</title>
</head>
<body>
    
</body>
</html>
<body>
    <header>
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="./works.html">Works</a></li>
        </ul>
      </header>
        <section>
            <img src="../public/images/gigachad2.jpg">
            <p>On October 15th, 2017, an anonymous Redditor published a link to the @sleekntears Instagram page in /r/bodybuilding[7] subreddit. The post received more than 495 points (92% upvoted) and 100 comments in less than four years. On October 17th, 2017, a photo of Khalimov was submitted to the /pol/ board[3] on 4chan , which described him as "Gigachad. The perfect human specimen destined to lead us against the reptilians". That day, a post about Khalimov was submitted to the Lookism Forums,[5] referring to him as "Ultra Chad." On October 24th, 2017, Ia picture was submitted to Imgur "It appears that The Gigachad is attempting to clone himself"</p>
        </section>
</body>