<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./works.html">Works</a></li>
        </ul>
      </header>
      <section>
        <h1>GIGA CHAD</h1>
        <img src="../public/images/gigachad.jpg">
        <p>
        GigaChad is a nickname associated with the art project berlin.1969 / Ernest Khalimov,[1] which is a series of photoshopped photographs of several models created by Russian photographer Krista Sudmalis for her project Sleek'N'Tears.[4] The name "GigaChad" indicates that the person, who was initially assumed to be real, is the ultimate Chad Thundercock, an internet archetype representing an ultra-masculine male. Online, the term was popularized within various incel communities.
        </p>
      </section>
</body>
</html>