<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/works.css">
    <title>works</title>
</head>
<body>
    <body>
        <header>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="./about.html">About</a></li>
              <li><a href="">Works</a></li>
            </ul>
          </header>
          <section>
            <h1>GIGA CHAD</h1>
            <img src="../public/images/gigachad5.jpg">
            <img src="../public/images/gigachad4.jpg">
            <img src="../public/images/gigachad3.jpg">
          </section>
    </body>
</body>
</html>